<% provide(:title, "Cards") %>

<h1>Cards</h1>
<p> 
<%= image_tag("moonbeam.png", alt:"mb", width:"40px") %> Moon Beam / ムーンビーム
<br>
<br>
胴部位に対して特効効果を持つ。<br>
Moon Beam deals extra damage when used against the Titan Lord's Torso.

<table>
  <tr>
    <td rowspan="2" width="70px"><%= image_tag("moonbeam.png", alt:"mb", width:"55px") %></td>
    <td>Moon Beam / ムーンビーム</td>
    <td>おおむね赤</td>
  </tr>
  <tr>
    
    <td><%= image_tag("burst.png", width:"20px") %> Burst / バーストカード</td>
    <td>たいてい黄色</td>
  </tr>
</table>

</p>
