<% provide(:title, "LogConverter") %>
<h1>レイドログ変換くん</h1>

<%= form_for(:data4, url: converter_path, remote: true) do |f| %>

  <br>

  <%= f.label :ログをここにペースト %>
  <%= f.text_area :log, class: 'form-control', id: "log" %>
  <br>
   
  <%= f.submit "変換",  class: "btn btn-info" %>
<% end %>

<span id="kakunin_form"> </span><br>

<textarea id="tete"></textarea>
<button class="copy_code">クリップボードにコピー</button>

<script>
$('.copy_code').on("click", function () {
        var clipboard = $('<textarea></textarea>');
        clipboard.addClass('clipboard');
        clipboard.html( $(this).prev('textarea').html() );
        $(this).append(clipboard);
        clipboard.select();
        document.execCommand('copy');
        clipboard.remove();
    });
</script>

<br>

<br>
<p>スマホからはコピーボタンが動かない模様です。調査中。</p>
<hr>
<p>バグ報告・要望はこちらまでお願いします ⇒ <a href="https://forms.gle/uUj82KFCyEsdyeke7">googleフォーム</a> 
		   </p>
		<p>返信は<a href="https://twitter.com/mr_nish_">twitter</a>で行っています。</p>