<% provide(:title, "Home") %>
<h1>Home</h1>
<p>
  <li><%= link_to "レイドカード 日本語訳",   cards_path %></li>
  <li><%= link_to "クランレイド進行度まとめ",   raidrank_path %></li>
　<li><%= link_to "Link", link_path %></li>
</p>