<% provide(:title, "Home") %>
<div class="container">
<h1>Home</h1>
<p>
  <%= link_to "リンク集", link_path %>
  </p>
  <p>
  <%= link_to "レイドカード 日本語訳",   cards_path %>
  </p>
  <p>
  <%= link_to "クランレイド進行度まとめ",   raidrank_path %>

</p>
</div>