<% provide(:title, "Optimiser") %>

<h1>簡易AFオプティマイザー（制作中）</h1>

<!-- タブ・メニュー -->
<ul class="nav nav-tabs">
	<li class="active"><a href="#sampleContentA" data-toggle="tab">使い方</a></li>
	<li><a href="#sampleContentB" data-toggle="tab">入力</a></li>
	<li><a href="#sampleContentC" data-toggle="tab">結果</a></li>

</ul>

<!-- タブ内容 -->
<div class="tab-content">
	<div class="tab-pane active" id="sampleContentA">
		<br>
		<p>説明</p>
	</div>
	<div class="tab-pane" id="sampleContentB">
	  <br>
		<p>
		  
		  
		  <form>
      <div class="form-group">
       <label for="relic">累計レリック:</label>
       <input type="integer" id="relic" class="form-control" placeholder="例: 8.43e50">
      </div>
      
      <form>
      <div class="form-group">
       <label for="bos">影率(%):</label>
       <input type="integer" id="bos" class="form-control" placeholder="例: 0.50 (50%の場合)">
       
      </div>
      
      <div class="form-group">
      <label for="build">ビルド:</label>
       <select id="build" class="form-control">
      <option>SC
      <option>PET
      <option>CS
      <option>HS
      </select>
      </div>
      
      <div class="form-group">
      <label for="gold">金策:</label>
       <select id="gold" class="form-control">
      <option>フェアリー
      <option>pHoM
      <option>チェスターソン
      </select>
      </div>
      
      <div class="form-group">
      <label for="hero1">ヒーローの属性①:</label>
       <select id="hero1" class="form-control">
      <option>地面
      <option>飛行
      </select>
      </div>
      
      <div class="form-group">
      <label for="hero2">ヒーローの属性②:</label>
       <select id="hero2" class="form-control">
      <option>近接
      <option>遠隔
      <option>魔術
      </select>
      </div>
      
      
      <input type="button" id="optimise" class="btn btn-primary" value="OK">
     
    
      </form>
      
      
		  
		  
		</p>
	</div>
	<div class="tab-pane" id="sampleContentC">
	  <br>
		
		<div id="result-area"></div>
	</div>

</div>

