<% provide(:title, "Optimiser2") %>

<h1>AFオプティマイザー2（β版）</h1>


<ul class="nav nav-tabs">
	<li class="active"><a href="#sampleContentA" data-toggle="tab">説明</a></li>
	<li><a href="#sampleContentT" data-toggle="tab">入力</a></li>
	<li><a href="#sampleContentC" data-toggle="tab">出力</a></li>
	<li><a href="#sampleContentE" data-toggle="tab">変更点</a></li>
	<li><a href="#sampleContentH" data-toggle="tab">返信</a></li>

</ul>

<div class="tab-content">
  
  <div class="tab-pane" id="sampleContentT">
  <%= render 'opti2/input' %>
  </div>
  
	<div class="tab-pane active" id="sampleContentA">
	  
  </div>
  
  <div class="tab-pane" id="sampleContentC">
    <%= render 'opti2/output' %>
  </div>
  
  <div class="tab-pane" id="sampleContentE">
    
  </div>
  
  <div class="tab-pane" id="sampleContentH">
    
  </div>
  
</div>
