<% provide(:title, "RaidRank") %>
<h1>レイド進捗まとめ</h1>
<p>0時集計。1~30位の日本クランのクランXPを記録した。</p>
<p>
  <%= image_tag("rapture_20190524002430.png", alt:"raid5_2") %><br><br>
  <%= image_tag("raid5_1.png", alt:"raid5_1") %>


</p>