@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 70px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  word-wrap: break-word;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 1.7em;
  color: #696969;


  padding-top: 9px;
  font-weight: bold;


}



/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

img {
    max-width: 100%;
    height: auto;
}

table {
	border-collapse: collapse;
}
td {
	border: solid 1px;
	border-color: #c0c0c0;
	padding: 0.5em;
}
