<br>
<p><a href="https://docs.google.com/forms/d/e/1FAIpQLSdJy_A_BQk1rRSrg-CWU-97u0hib3YfJq5qzcodSJebmk-uKw/viewform?usp=sf_link">googleフォーム</a>の返信を行うところです。</p>
<br>
<p>■ 7/26</p>
<p>
> 元々のWeb版のoptimizerの結果を一旦そのまま取り込むみたいな機能あると嬉しいです。<br>
> 結果を連携できる機能があると嬉しいです。urlパラメーターとかでうまくやれないですかね。<br>
<br>

⇒ 取り入れてみました。アイデア感謝です。
</p>
<br>