<p>
<br>    <p>
■ 2020/09/13 移転しました。
<a href="https://tt2tools.web.app/optimiser">かんたんAFオプティマイザー</a>
</p>
<p>今後は↑のサイトで更新をします。</p>
<p>エクスポートデータのみで簡単に入力ができます。是非試してみてください。</p>
<hr>
<p>ひと昔前のherokuオプティマイザーを再現しました。</p>
<br>
<p>【使用方法】</p>
<p> 1. 入力欄に各ステータスを入力して保存する（使用しているブラウザに保存します）</p>
<p> 2. 出力タブにて現在の所持レリックを入力して、計算ボタンを押す</p>
<p> 3. 指示通りに振り終わったら、適用ボタンを押す。データが入力欄に適用されます。</p>
<br>
<p>【注意事項】</p>
<p> 影の書は計算に含まれてません。各位自由に振ってください。</p>
