<footer class="footer">
  <small>
    <a href="https://www.gamehive.com/games/tap-titans-2">TapTitans2</a>
     by <a href="https://www.gamehive.com/">GameHive</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>