<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">TapTitans2 ツール集</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">トップページ<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/optimiser">AFオプティマイザー</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="optimiser2">AFオプティマイザー2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/convert">レイドログ変換</a>
      </li>
    </ul>
  </div>
</nav>


