<nav class="navbar navbar-default navbar-fixed-top">
 <div class="container">
  <div class="navbar-header">
    
    <%= link_to "TT2-jp(仮)", root_path, id: "logo" %>
  </div>
 
  
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Home", root_path %></li>
    
    </ul>
  
</div>
</nav>