
<nav class="navbar navbar-default navbar-fixed-top">
 <div class="container">
  <div class="navbar-header">
    
    <%= link_to "TT2-jp(仮)", root_path, id: "logo" %>
  </div>
 
  
  
  
</div>
</nav>

