<br>
<p><a href="https://forms.gle/uUj82KFCyEsdyeke7">googleフォーム</a>の返信を行うところです。</p>
<br>
<p>■ 7/17</p>
<p>
「 AD(アーティファクトダメージ)を考慮する」
この項目はどういう意味でしょうか？チェックを付けるのと付けないのでどう変わってくるんでしょうか？<br>


⇒ 各アーティファクトのレベルを上げることで、アーティファクトダメージが上がります。AFダメージはAllダメージに乗算されます。
より正確にレリックを振りたい場合はチェックを付けることをおすすめしますが、正直そこまで値は変わりません。
<br>（最終的にAllダメージに乗算されるAFダメージの値は各AFのAFダメージの総和なので）
<br><br>
今回のアプデで、BoSの解体時のレリックが分からなくなったので、現レベルで計算できるようになると助かります。
<br>
⇒ 取り急ぎ実装しました。累計レリックの方は大丈夫そうなのかな

</p>
<br>
<p>■ 7/15</p>

<p> 

適正LvのKMBTの小数点がうまくでていない？<br>
⇒ 修正しました。
<br><br>
レベルが1Ｂ以降上がりません<br>
⇒ 小数点以下が出ていなかったからでしょうか？<br>
<br>
アーティファクトを結果の通りに降っていくとかなりの量のレリックが余ります。<br>
⇒ ゲーム内の累計レリック表示が通常より多く表示されている可能性があります（ダイヤでAF砕いた時に得たレリック等も加算されるため）。累計レリックを少な目に入力するなどで対処できると思われます。<br>
<br>
「letter表記(aa,ab,ac,...)で結果を表示する 」ボタンを外しても科学的記数法になりません<br>
⇒ こちらでは再現できませんでした。 e15以下は自動で KMBT 表記になるので、それでしょうか。確かゲーム内表記もそういう仕様だった気がします。違ったらすいません、修正します。<br>
<br>
</p>