<br>
	<p>■ v1.9 (2019/07/15) </p><p>小数点以下表示について修正。返信タブを作成。</p><br>
    	<p>■ v1.8 (2019/07/14) </p><p>全体的なリファクタリングを行いました。</p><br>
    <p>■ v1.7 (6/28)</p><p>letter表記が入力できないバグを修正</p><br>
	 <p>■ v1.6 (2019/06/25) </p><p>KMBT変換が実行されないバグを修正しました。</p><br>
	 <p>■v1.5 (2019/06/19)</p><p>
	 フォームの内容を保存できるようにしました。
		使っているブラウザに保存する形です。いつも使っているブラウザで保存してください。(何か不具合ありましたら<%= link_to "作者", "https://twitter.com/mr_nish_" %>にまでお願いします)</p>
	 </p>
	 <br>
	 <p>■ v1.4 (2019/06/09 0:00)</p>
	 <p>ADありで算出した際に未所持AFにもレリックが振られる問題を解決
	    </p>
	 <br>
	 <p>■ v1.3 (2019/06/03 16:00)</p>
	 <p>入力フォームを調整<br>
	    内部計算式を一部修正（チェスター関連）
	    </p>
	 <br>
	 <p>■ v1.2 (2019/05/22 21:20)</p>
	 <p>AF取得コストを算出過程に追加<br>
	    AD(アーティファクトダメージ)に対応<br>
	    影に振ったレリックを入力することで自動で影率を算出できるように変更<br>
	    結果欄に影率を表示
	    </p>
	 <br>
	 <p>■ v1.1 (2019/05/21 22:10)</p>
	 <p>レター表記(aa,ab,ac,...)にも対応</p><br>
	 <p>■ v1.0 (2019/05/21 19:30)</p><p>K,M,B,T表記に対応<br>
	 ⇒ e15以下の数値が科学的記数法に対応していない問題を解決 <br>
	 説明欄を加筆</p><br>